footer.b-footer
	.container
		.row
			.col-md-12
				.b-footer__copyright
					span.b-copyright &copy;
					span.b-years 2015
					span.b-company webrotor
				.b-footer__social
					.b-social
						a(href="#").b-social__item.b-social__item--go.b-link
							<i class="fa fa-google-plus"></i>
						a(href="#").b-social__item.b-social__item--vk.b-link
							<i class="fa fa-vk"></i>
						a(href="#").b-social__item.b-social__item--mail.b-link
							<i class="fa fa-envelope-o"></i>
						a(href="#").b-social__item.b-social__item--fb.b-link
							<i class="fa fa-facebook"></i>
<!--[if lte IE 8]
<script src="lib/html5shiv/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 9]>	
script(src="lib/html5shiv/es5-shim.min.js")
script(src="lib/html5shiv/html5shiv.min.js")
script(src="lib/html5shiv/html5shiv-printshiv.min.js")
script(src="lib/respond.min.js")
<![endif]-->
script(src="lib/jquery/jquery-2.1.4.min.js")
script(src="lib/bootstrap/js/bootstrap.js")
script(src="http://maps.googleapis.com/maps/api/js" type="text/javascript")
script(src="lib/magnific_popup/jquery.magnific-popup.min.js")
script(src="js/init.js")

//Yandex.Metrika counter
//Yandex.Metrika counter
//Google Analytics counter
//Google Analytics counter