header
	.container
		.row
			.col-md-12
				.b-header
					.b-header__logo
						a(href="file:///F:/webrotor/index.html").b-logo
							img(src="img/webrotor-logo.png", alt="Webrotor")
						button(class="b-nav__button collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false")
							.b-sendwich
								.b-sendwich__item
								.b-sendwich__item
								.b-sendwich__item
					nav.b-header__nav#collapse.collapse
						ul
							li.b-nav__item
								a(href="file:///F:/webrotor/work.html").b-link Работы
							li.b-nav__item
								a(href="file:///F:/webrotor/services.html").b-link Услуги
							li.b-nav__item
								a(href="file:///F:/webrotor/comments.html").b-link Отзывы
							li.b-nav__item
								a(href="file:///F:/webrotor/about_us.html").b-link О нас
							li.b-nav__item
								a(href="file:///F:/webrotor/contacts.html").b-link	Контакты
							li.b-nav__item
								a(href="file:///F:/webrotor/smoking.html").b-link.b-link--smoking	Курилка