doctype html
<!--[if lt IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html lang="ru" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
html
	head
		title WEBROTOR | Наши работы
		include blocks/meta.jade
		include blocks/link.jade
	body.b-about_us
		.b-main-wrapper
			include blocks/header.jade
			section.b-work-with
				.row
					.container
						.col-md-12
							.b-work-with__header.
								С вами работают
							.b-work-with__body
								.row
									.col-md-4
										.b-work-width__item
											.b-employee
												.b-employee__img
													img(src="img/employee_img_1.jpg", alt="Руководитль студии")
												.b-employee__position.
													Руководитель студии
												.b-employee__name.
													Артур
									.col-md-4
										.b-work-width__item
											.b-employee
												.b-employee__img
													img(src="img/employee_img_1.jpg", alt="Руководитль студии")
												.b-employee__position.
													Руководитель студии
												.b-employee__name.
													Артур
									.col-md-4
										.b-work-width__item
											.b-employee
												.b-employee__img
													img(src="img/employee_img_1.jpg", alt="Руководитль студии")
												.b-employee__position.
													Руководитель студии
												.b-employee__name.
													Артур
									.col-md-4
										.b-work-width__item
											.b-employee
												.b-employee__img
													img(src="img/employee_img_1.jpg", alt="Руководитль студии")
												.b-employee__position.
													Руководитель студии
												.b-employee__name.
													Артур
									.col-md-4
										.b-work-width__item
											.b-employee
												.b-employee__img
													img(src="img/employee_img_1.jpg", alt="Руководитль студии")
												.b-employee__position.
													Руководитель студии
												.b-employee__name.
													Артур
									.col-md-4
										.b-work-width__item
											.b-employee
												.b-employee__img
													img(src="img/employee_img_1.jpg", alt="Руководитль студии")
												.b-employee__position.
													Руководитель студии
												.b-employee__name.
													Артур
			section.b-first-use
				.row
					.container
						.col-md-12
							.b-first-use__header.
								Первое использование <span>webrotor</span>a
							.b-first-use__text.
									И так вы решили пользоваться WEBROTOR с вашим партнером, не торопитесь, 
									осмотрите его первый раз без него. Ощутите его возможности и посмотрите, 
									как легко он вступает во взаимодействие с вашим телом. Если вы осваиваете 
									WEBROTOR со смазкой, введите его внутрь без вибраций, 
									Вы почувствуете его оригинальную текстуру. Как только вы привыкнете,
									пробуйте разные режимы. Потенциал данного устройства до конца не исследован,
									и это новая вселенная ждет вас, готовя открыть вам все свое 
									удивительное многообразие. Мы с уверенностью можем обещать вам увлекательное 
									путешествие в мир гармонии, комфорта и 100% удовлетворения от встречи с WEBROTOR.<br>
									<span>C искренним уважением, создатели WEBROTORA</span>
			section.b-transparent--about_us


		include blocks/footer.jade