doctype html
<!--[if lt IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html lang="ru" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
html
	head
		title WEBROTOR | Главная
		include blocks/meta.jade
		include blocks/link.jade
	body.b-main-page
		include blocks/header.jade		
		section.b-main-contant
			.row
				.container
					.col-md-6.col-sm-6
						.row
							.b-slogan
								.b-slogan__item <span>дизайн студия</span>
								.b-slogan__item
									img(src="img/rotor-slogan.png", alt="WEBROTOR")
								.b-slogan__item <span>оружие массовой</span> <span>коммуникации</span>
					.col-md-6.col-sm-6
						.row
							a(href="file:///F:/webrotor/smoking.html").b-door
								.b-door__door-corner
									.b-door__door
										img(src="img/door.jpg", alt="")
								.b-door__eighteen
									img(src="img/eighteen-only.png", alt="")
		section.b-small-preview
			.row
				.b-info.b-info--webrotor-prew
					.b-info__header
						.container
							span.b-logo--text <span>web</span>rotor
							span.b-logo--next-text : В двух словах о нас
					.b-info__body
						.container
							.b-text.b-text--dark
								.row
									.col-md-6
										p.b-text__text--left.
											Философия WebRotor проста, по нашему представлению социум (как и отдельный человек), 
											это динамическая пропорция творчества, коммуникаций и стереотипов. Творчество («гений») 
											создает новые стереотипы, коммуникабельность («продавец») доносит их в массы (95%), 
											а массы копируют новый  стереотип, хранят его и являются его отображением
									.col-md-6
										p.b-text__text--right.
											Мы постарались собрать компанию творческих и коммуникабельных людей в пропорции, 
											которой будет достаточно для создания новых продуктов и новых стереотипов. 
											Нам интересен процесс в результате мы не сомневаемся. Деньги мотивируют нас лишь отчасти. 
											При условии, что ваш проект нам будет интересен готовы работать над ним без вознаграждения.
							.b-text__lighter-man
								img(src="img/lighter-man.png", alt="Фонарик")
		section.b-portfolio
			.b-portfolio__header 
				.container
					.row
						.col-md-12
							.b-portfolio__header-text.
								Наши работы
							.b-portfolio__img
								img(src="img/portfolio-logo.png", alt="Наши работы")
			.b-portfolio__body
				.container
					.row
						.col-md-3.col-sm-6
							a(href="img/portfolio__img_0.jpg").b-portfolio__item
								img(src="img/portfolio__img_0.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>
						.col-md-3.col-sm-6
							a(href="img/portfolio__img_1.jpg").b-portfolio__item
								img(src="img/portfolio__img_1.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>	
						.col-md-3.col-sm-6
							a(href="img/portfolio__img_2.jpg").b-portfolio__item
								img(src="img/portfolio__img_2.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>	
						.col-md-3.col-sm-6
							a(href="img/portfolio__img_3.jpg").b-portfolio__item
								img(src="img/portfolio__img_3.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>	
						.col-md-3.col-sm-6
							a(href="img/portfolio__img_4.jpg").b-portfolio__item
								img(src="img/portfolio__img_4.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>	
						.col-md-3.col-sm-6
							a(href="img/portfolio__img_5.jpg").b-portfolio__item
								img(src="img/portfolio__img_5.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>	
						.col-md-3.col-sm-6
							a(href="img/portfolio__img_6.jpg").b-portfolio__item
								img(src="img/portfolio__img_6.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>	
						.col-md-3.col-sm-6
							a(href="img/portfolio__img_7.jpg").b-portfolio__item
								img(src="img/portfolio__img_7.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>	
						.col-md-3.col-sm-6
							a(href="img/portfolio__img_8.jpg").b-portfolio__item
								img(src="img/portfolio__img_8.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>	
						.col-md-3.col-sm-6
							a(href="img/portfolio__img_0.jpg").b-portfolio__item
								img(src="img/portfolio__img_0.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>	
						.col-md-3.col-sm-6
							a(href="img/portfolio__img_1.jpg").b-portfolio__item
								img(src="img/portfolio__img_1.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>	
						.col-md-3.col-sm-6
							a(href="img/portfolio__img_2.jpg").b-portfolio__item
								img(src="img/portfolio__img_2.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>

		section.b-whywhithus.b-block
			.b-whywhithus__header.b-block__header
				.container
					.row
						.col-md-12
							.b-whywhithus__header-text
								span.b-logo--text <span>web</span>rotor<br>
								span почему именно с нами?
			.b-whywhithus__body
				.container
					.row
						.col-md-4
							.b-whywhithus__item
								.b-text.b-text--whywhithus
									.b-text__img
										img(src="img/mem_1.png", alt="Профессионализм")
									.b-text__header Дизайн
									.b-text__body.
										Расположить на web-странице тексты и иллюстрацию с максимальной 
										эффективностью, сделать навигацию простой и удобной, а информацию 
										легкодоступной. 
						.col-md-4
							.b-whywhithus__item
								.b-text.b-text--whywhithus
									.b-text__img
										img(src="img/mem_2.png", alt="Поддержка")
									.b-text__header Иллюстрации
									.b-text__body.
										Современный стиль, яркость, индивидуальность, символизм которых не 
										двузначен, а информативен и полностью соответствует поставленным 
										задачам.
						.col-md-4
							.b-whywhithus__item
								.b-text.b-text--whywhithus
									.b-text__img
										img(src="img/mem_3.png", alt="Гарантии")
									.b-text__header Тексты
									.b-text__body.
										Креативность, лаконичность, простота, тенденции современного 
										искусства и рекламы, интернет мемы, мозговой штурм, всё это и 
										многое другое создадут желаемый результат.
		include blocks/footer.jade