doctype html
<!--[if lt IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html lang="ru" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
html
	head
		title WEBROTOR | Курилка
		include blocks/meta.jade
		include blocks/link.jade
	body.b-smoking__bgc
		.b-main-wrapper
			include blocks/header.jade
			section
				.row
					.container
						.col-md-8.col-md-offset-2
							.b-smoking
								.b-smoking__img
									img(src="img/smoking_img.png", alt="Hello, hello mister monkey")
								.b-smoking__header.
									Спонтанные<br>тексты
								.b-smoking__body
									<span class='bgc-black'>полупристойные рисунки</span>
									p.b-smoking__body-item.
										ВЕБРОТОР, ВЕБРАТОР какая разница<br>
										Это же не ВЕБЗАДНИЦА

									p.b-smoking__body-item.
										«ВЕБРОТОР  в жопу ассоциации»

									p.b-smoking__body-item.
										ВЕБРОТОР спроси у секретарши 

									p.b-smoking__body-item.
										«ВЕБРОТОР мы стоим там, где другие падают»

									p.b-smoking__body-item.
										«ВЕБРОТОР! Случайность? Не думаю»

									p.b-smoking__body-item.
										«ВЕБРОТОР Стояк в Интернете»

									p.b-smoking__body-item.
										«ВЕБРОТОР влезем в любую дырку»

									p.b-smoking__body-item.
										«ВЕБРОТОР, Трактор, Мотор, Вибратор,<br>
										Нас родил Маяковский, Лебедева на хуй!»

									p.b-smoking__body-item.
										Не дает расправить плечи<br>
										Чужое безликое мнение,<br>
										Готовое уничтожить всякого<br>
										В ком заподозрит гения.<br>
									p.b-smoking__body-item.b-smoking__body-item--img
										img(src="img/monkey_down.png", alt="")
									p.b-smoking__body-item.b-smoking__body-item--big-text.
										Five little monkeys<br>
										jumping on the bed
									p.b-smoking__body-item.
										One fell off and bumped his head
										So Momma called the doctor and the doctor said
										No more monkeys jumping on the bed!
									p.b-smoking__body-item.
										Four little monkeys jumping on the bed
										One fell off and bumped his head
										So Momma called the doc
										tor and the doctor said
										No more monkeys jumping on the bed!
									p.b-smoking__body-item.
										Three little monkeys jumping on the bed
										One fell off and bumped his head
										So Momma called the doctor and the doctor said
										No more monkeys jumping on the bed!
									p.b-smoking__body-item.
										Two little monkeys jumping on the bed
										One fell off and bumped his head
										So Momma called the doctor and the doctor said
										No more monkeys jumping on the bed!
									p.b-smoking__body-item.
										One little monkey jumping on the bed
										He fell off and bumped his head
										So Momma called the doctor and the doctor said
										No more monkeys jumping on the bed!
									p.b-smoking__body-item.
										No little monkeys jumping on the bed
										None fell off and bumped his head
										So Momma called the doctor and the doctor said

		include blocks/footer.jade
			