doctype html
<!--[if lt IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html lang="ru" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
html
	head
		title WEBROTOR | Наши работы
		include blocks/meta.jade
		include blocks/link.jade
	body.b-work.b-main-page
		.b-main-wrapper
			include blocks/header.jade
			section.b-transparent
			section.b-portfolio
				.row
					.container
						.col-md-4.col-sm-6
							a(href="img/portfolio__img_0.jpg").b-portfolio__item
								img(src="img/img.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>
						.col-md-4.col-sm-6
							a(href="img/portfolio__img_1.jpg").b-portfolio__item
								img(src="img/img.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>
						.col-md-4.col-sm-6
							a(href="img/portfolio__img_2.jpg").b-portfolio__item
								img(src="img/img.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>
						.col-md-4.col-sm-6
							a(href="img/portfolio__img_3.jpg").b-portfolio__item
								img(src="img/img.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>
						.col-md-4.col-sm-6
							a(href="img/portfolio__img_4.jpg").b-portfolio__item
								img(src="img/img.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>
						.col-md-4.col-sm-6
							a(href="img/portfolio__img_5.jpg").b-portfolio__item
								img(src="img/img.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>
						.col-md-4.col-sm-6
							a(href="img/portfolio__img_6.jpg").b-portfolio__item
								img(src="img/img.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>
						.col-md-4.col-sm-6
							a(href="img/portfolio__img_7.jpg").b-portfolio__item
								img(src="img/img.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>
						.col-md-4.col-sm-6
							a(href="img/portfolio__img_8.jpg").b-portfolio__item
								img(src="img/img.jpg", alt="")
								.b-portfolio__item-info.
									Туристическая ассоциация юга Украины
									<i class="fa fa-search"></i>


		include blocks/footer.jade